<div class="container">

  <ng-template #loading>
    <div class="row my-4">
      <div class="col-12  justify-content-center text-center">
        <span class="loader"></span>
      </div>
    </div>
  </ng-template>

  <div class="component-data" *ngIf="!errorCompany">
    <div class="row my-4 justify-content-center"  *ngIf="!isLoadingCompany; else loading">
      <div class="col-10">
        <h1>{{company?.name}}</h1>
        <p><strong>Name : </strong>{{company?.name}}</p>
        <p><strong>TVA : </strong>{{company?.tva}}</p>
        <p><strong>Country : </strong>{{company?.country}}</p>
        <p><strong>Type : </strong>{{company?CompanyType[company.type]:''}}</p>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-10 my-2">
        <h1>Contact People</h1>
      </div>
      <ng-template class="col-9 my-2" #error>
        <p class="fs-3 align-self-center text-center">Error - data could not be loaded</p>
      </ng-template>

      <div *ngIf="!errorContacts;else error">
        <div class="col-9 my-2 " *ngIf="!isLoadingContacts; else loading">
          <div class="row">
            <div class="col d-flex flex-inline" *ngFor="let contact of companyContacts">
              <div class="col-5 d-flex flex-column justify-content-center align-items-center">
                <img class="shadow contact_photo w-50 rounded-circle" alt="{{contact?.name}}_photo"  src="/assets/img/default-avatar.jpg">
                <a class="attribution align-self-startr" *ngIf="contact?.photo=== undefined" href="https://www.vecteezy.com/free-vector/default-profile-picture">Default Profile Picture Vectors by
                  Vecteezy</a>
              </div>
              <div class="col-5">
                <h3>{{contact.name}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-4 justify-content-center">
      <div class="col-10">
        <app-invoices-list [lastItemsParams]="{count:3,prop:'createdAt'}" [dataFilter]="{prop:'company',value:company?.name}" [pagination]="false"></app-invoices-list>
      </div>
    </div>
  </div>

</div>
