<div class="row my-2">
  <div class="col-10">
    <app-invoices-list [lastItemsParams]="{count:5,prop:'createdAt'}" [pagination]="false" ></app-invoices-list>
  </div>
</div>
<div class="row my-2">
  <div class="col-10">
    <app-companies-list [lastItemsParams]="{count:5,prop:'createdAt'}" [pagination]="false"></app-companies-list>
  </div>
</div>
<div class="row my-2">
  <div class="col-10">
    <app-contacts-list [lastItemsParams]="{count:5,prop:'createdAt'}" [pagination]="false"></app-contacts-list>
  </div>
</div>
