  <app-list-header *ngIf="!onlyLastItems; else lastData" (onFilter)="filterData($event)" [title]="'All Companies'"></app-list-header>

  <ng-template #lastData>
    <div class="col-12 d-flex flex-inline my-2">
      <h1 class="">Last companies</h1>
    </div>
  </ng-template>
  <div class="row itemsList">
    <div class="col-12">
      <div class="row titleRow justify-content-start">
        <div class="col-2">
          <p class="title my-2">Name</p>
        </div>
        <div class="col-2">
          <p class="title my-2">TVA</p>
        </div>
        <div class="col-3">
          <p class="title my-2">Country</p>
        </div>
        <div class="col-2">
          <p class="title my-2">Type</p>
        </div>
        <div class="col-2">
          <p class="title my-2">Created At</p>
        </div>
      </div>

      <div class="row itemsData justify-content-start"
           *ngFor="let company of (onlyLastItems? (dataToDisplay | last:2:'createdAt')
        :(dataToDisplay | pagination:currentPage:itemsPerPage))" routerLink="/companies/{{company.id}}">

        <div class="col-2 overflow-hidden">
          <p class="data my-2">{{company.name}}</p>
        </div>
        <div class="col-2">
          <p class="data my-2">{{company.tva}}</p>
        </div>
        <div class="col-3 overflow-hidden">
          <p class="data my-2">{{company.country}}</p>
        </div>
        <div class="col-2 overflow-hidden">
          <p class="data my-2">{{company.type}}</p>
        </div>
        <div class="col-2">
          <p class="data my-2">{{company.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-2" *ngIf="!onlyLastItems">
    <div class="col-12 d-flex justify-content-center">
      <app-pagination [totalItems]="dataToDisplay.length"></app-pagination>
    </div>
  </div>

