
.row.adminTitleRow{
  font-weight: bold;
}

.admin-list-header{
  background-color: #9698D6;
}

.component-data{
  background-color: white;
  padding: 1px;
  margin-top: 2%;
  border-radius: 10px;
}

.lastItemsTitle{
  border-bottom: lightgray solid 1px;
}


.lastItemsTitle>.newBtn{
  background-color: #9698D6;

}
