.row.itemsList{
  font-weight: bold;

}

.row.itemsData:nth-child(odd){

  background-color: lightgray;

}

h1{
  white-space: nowrap;
}

.titleRow{
  background-color: #F9DE4E;
}

.row.TitleRow{
  font-weight: bold;
  border-top: lightgray solid 1px;

}

