  <app-list-header *ngIf="!onlyLastItems; else lastData" (onFilter)="searchData($event)" [title]="'All Contacts'"></app-list-header>

  <ng-template #lastData>
    <div class="col-12 d-flex flex-inline my-2">
      <h1 class="">Last contacts</h1>
    </div>
  </ng-template>
  <div class="row my-4"  *ngIf="isLoading">
    <div class="col-12  justify-content-center text-center">
      <span class="loader"></span>
    </div>
  </div>
  <div class="component-data" *ngIf="!isLoading">
    <div class="row itemsList my-2 py-2">
      <div class="col-12">
        <div class="row titleRow justify-content-start">
          <div class="col-2">
            <p class="title my-2">Name</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Phone</p>
          </div>
          <div class="col-3">
            <p class="title my-2">Mail</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Company</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Created At</p>
          </div>
        </div>

        <div class="row itemsData justify-content-start"
             *ngFor="let contact of (pagination? (dataToDisplay |pagination:paginationInfos.itemsPerPage:paginationInfos.currentPage):dataToDisplay)" routerLink="/contacts/{{contact.id}}">
          <div class="col-2 overflow-hidden">
            <p class="data my-2">{{contact.name}}</p>
          </div>
          <div class="col-2">
            <p class="data my-2">{{contact.phone}}</p>
          </div>
          <div class="col-3 overflow-hidden">
            <p class="data my-2">{{contact.email}}</p>
          </div>
          <div class="col-2 overflow-hidden">
            <p class="data my-2">{{contact.company}}</p>
          </div>
          <div class="col-2">
            <p class="data my-2">{{contact.createdAt}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12 d-flex justify-content-center" *ngIf="pagination">
        <app-pagination [totalItems]="dataToDisplay.length"></app-pagination>
      </div>
    </div>
  </div>


