
  <app-list-header *ngIf="!onlyLastItems; else lastData" (onFilter)="searchData($event)" [title]="'All Invoices'"></app-list-header>

  <ng-template #lastData>
    <div class="col-12 d-flex flex-inline my-2">
      <h1 class="">Last invoices</h1>
    </div>
  </ng-template>

  <ng-template #loading>
    <div class="row my-4">
      <div class="col-12  justify-content-center text-center">
        <span class="loader"></span>
      </div>
    </div>
  </ng-template>

  <div class="component-data" *ngIf="!isLoading;else loading">
    <div class="row itemsList">
      <div class="col-12">
        <div class="row titleRow align-items-center">
          <div class="col-2">
            <p class="title my-2">Invoice Number</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Due Date</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Company</p>
          </div>
          <div class="col-2">
            <p class="title my-2">Created At</p>
          </div>
        </div>
        <div *ngIf="!inError">
          <div class="row itemsData align-items-center" *ngFor="let invoice of
        (pagination? (dataToDisplay | pagination:paginationInfos.itemsPerPage:paginationInfos.currentPage) : dataToDisplay) ">
            <div class="col-2">
              <p class="data my-2">{{invoice.invoiceNumber}}</p>
            </div>
            <div class="col-2">
              <p class="data my-2">{{invoice.dueDate | date:'longDate'}}</p>
            </div>
            <div class="col-2">
              <p class="data my-2">{{invoice.company_name}}</p>
            </div>
            <div class="col-2">
              <p class="data my-2">{{invoice.createdAt| date:'longDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-12" *ngIf="pagination">
        <app-pagination [totalItems]="dataToDisplay.length"></app-pagination>
      </div>
    </div>
  </div>



